PySide6>=6.6.0
keyboard>=0.13.5
mouse>=0.7.1
pynput==1.8.2
pywin32>=302
psutil>=5.9.0
pyinstaller>=5.10.1
pytesseract>=0.3.10
Pillow>=10.0.0
opencv-python-headless==4.10.0.84
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Graphics==3.2.1
winrt-Windows.Graphics.Capture==3.2.1
winrt-Windows.Graphics.Capture.Interop==3.2.1
winrt-Windows.Graphics.DirectX==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11.Interop==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Storage.Streams==3.2.1
